{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="wrapper_cont">
    <h3 style="text-align:center;">Контакты</h3>

    <div class="ico-wrap"> <i class="fa fa-map-marker ico-contact"></i>
    </div>
    <div class="descript-wrapper">
        <h4 class="aio-icon-title">Наш фактический адрес:</h4>
        <div class="aio-icon-description">
            410053, г. Cаратов, мкр.Смирновское ущелье,
            <br>дом 8, литер А</div>
    </div>

    <span class="clearfix"></span>

    <div class="ico-wrap"> <i class="fa fa-clock-o ico-contact"></i>
    </div>
    <div class="descript-wrapper">
        <h4 class="aio-icon-title">Исполняем заказы:</h4>
        <div class="aio-icon-description">
            пн.-вс. с 9:00 до 18:00, без перерыва.
            </div>
    </div>

    <span class="clearfix"></span>

    <div class="ico-wrap">
        <i class="fa fa-envelope ico-contact"></i>
    </div>
    <div class="descript-wrapper">
        <h4 class="aio-icon-title">Электронная почта:</h4>
        <div class="aio-icon-description">
            sweetsaratov@gmail.com
            </div>
    </div>

    <span class="clearfix"></span>

    <div class="ico-wrap">
        <i class="fa fa-phone ico-contact"></i>
    </div>
    <div class="descript-wrapper">
        <h4 class="aio-icon-title">Наши социальные контакты:</h4>
        <div class="aio-icon-description">
            8 (906) 313-26-62 (для сообщений в Whats App)
            <br>@sweetsaratov (для сообщений в Инста)</div>
    </div>

    <span class="clearfix"></span>

</div>

{% endblock %}