{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="wrapper_cont">
    <h3 style="text-align:center;">Как разместить заказ</h3>

    <div class="ico-wrap"> <i class="fa fa-map-marker ico-contact"></i>
    </div>
    <div class="descript-wrapper">
        <h4 class="aio-icon-title">Свяжитесь с нами удобным для Вас способом:</h4>
        <div class="aio-icon-description">
            Мы отвечаем на сообщения в инста и WA.
             <br>К сожалению, наш алгоритм работы с заказами не предполагает живого общения с заказчиками, но мы стараемся
             <br>оперативно отвечать</div>
    </div>

    <span class="clearfix"></span>

    <div class="ico-wrap"> <i class="fa fa-clock-o ico-contact"></i>
    </div>
    <div class="descript-wrapper">
        <h4 class="aio-icon-title">Составляем техзадание:</h4>
        <div class="aio-icon-description">
            У нас есть ассортимент вкусов для тортов. Мы предоставляем каталог Вам, чтобы Вам было удобнее сделать выбор.
            <br>Вы присылаете нам свои пожелания по декору. Уточняем с Вами дату и время готовности торта.
            <br>Вся информация структурируется в техническом задании к заказу, который направляется Заказчику на согласование.
            <br>В техзадании также прописывается расчет стоимости торта. Предоплата за заказ - 50% от стоимости заказа.
            <br>Доставка торта осуществляется по тарифам и силами Яндекс-доставки.
            </div>
    </div>

</div>

{% endblock %}