@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&subset=cyrillic');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.formWrapper{
    display: flex;
    justify-content: center;

}

.formFieldWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
}
.formFieldWrapper>input{
    width: 100%;
    justify-content: center;
    display: flex;
}
.formSubmitWrapper{
    display: flex;
    margin: 4px;
}
.formSubmitWrapper>input{
    width: 100%;
}
.formSubmitWrapper>submit{
    display: flex;
}


.products-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content;
}
.product-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 31%;
    align-items: stretch;
    margin: 10px;
}
.product-name{
    display: flex;
    flex-direction: column;
}
.product-name > div{
    display: flex;
    justify-content: center;
    width: 100%;
    height:40px;
    background: #fff2ff;
    color: #651d75;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
    border-color:#FF99CC;
    border-style:solid;
    border-width:1px;
    cursor:pointer;

}
.product-photo{
    display: flex;
    justify-content: center;
}
.product-photo img{
    width: 95%;
    padding: 5%;
}

.product-wrapper:hover .product-photo img {
	transform: scale(1.05);
}

.product-description {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height:40px;
    background: white;
    color: #651d75;
    font-size: 14px;
    line-height: 15px;
}
.price {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #651d75;
    height: 30px;
    margin: 2px;
    border-color:#FF99CC;
    border-style:solid;
    border-width:1px;
    background:#cffaf8;
    flex-direction: column;
    align-items: center;
}

.button {
    height:40px;
    width: 100%;
    border-color:#FF99CC;
    border-style:solid;
    border-width:1px;
    background:white;
    cursor:pointer;
    margin: 0 auto;
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #fff2ff;
    color: #FF99CC;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
}

.main-image-wrapper > img{
    width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-weight: 600;
  font-size: 36px;
  margin: 60px 0px;
}
.wrapper_cont {
  width: 600px;
  margin: 0 auto;
  color: #651d75;
}




.clearfix:after,
.clearfix:before {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  clear: both;
}
.ico-wrap {
    color: #ECAB00;
    width: 50px;
    height: 50px;
    margin: 25px 20px 2px 2px;
    display: block;
    text-align: center;
    font-size: 25px;
    border: 2px solid #ECAB00;
    float: left;
}
.ico-contact {
    line-height: 1.9 !important;
}
.descript-wrapper {
    float: left;
    margin-bottom: 20px;
}
.aio-icon-title {
    font-size: 18px;
    color: #ECAB00;
    line-height: 1;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .descript-wrapper,
    .ico-wrap {
      float: none;
      text-align: center;
    }
    .ico-wrap {
      margin: 0 auto 15px auto;
    }
}

/* Подключение шрифта Roboto */
@import url("https:/*fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Убираем все отступы */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* При расчете размеров инпутов учитываем внутренние отступы и границы */
input,
textarea {
  box-sizing: border-box;
}

/* В body устанавливаем шрифт, ширину и высоту, а также фон */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #fff1eb, #ace0f9);
  justify-content: center; /* чтобы контейнер */
  align-items: center; /* был по центру */
}

/* Ограничиваем контейнер по ширине 1000px */
.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
}

/* Стили самой формы */
.content {
  display: flex; /* делаем колонки в ряд */
  align-items: center; /* выравниваем по центру */
  justify-content: space-between; /* колонки растянутся на всю ширину */
  background: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

/* Стили левой колонки */
.left-side {
  width: 25%; /* занимает 25% общей ширины */
  height: 100%; /* растягиваем на всю высоту */
  position: relative; /* позиционирование относительное (для ::before) */
  display: flex;
  flex-direction: column; /* внутри элементы располагаем в колонку */
}

/* Стили разделительной линии между левой и правой колонкой */
.left-side::before {
  content: ""; /* контент нам не нужен */
  position: absolute; /* позиционируем относительно .left-side */
  height: 70%; /* высота 70% от .left-side */
  width: 2px; /* ширина 2px */
  background: #afafb6;
  right: -15px; /* позиционируем справа + отступ 15px (справа) */
  top: 50%; /* выравниваем по центру */
  transform: translateY(-50%); /* выравниваем по центру */
}

/* Стили правой колонки */
.right-side {
  width: 75%; /* занимает 75% общей ширины */
  margin-left: 75px;
}

/* Элементы левой колонки: адрес, телефон, email */
.details {
  margin-bottom: 15px;
  text-align: center;
}

/* Общие стили для иконок */
.details i {
  font-size: 25px; /* задаем размер */
  color: #3e2093; /* задаем цвет */
  margin-bottom: 10px;
}

/* Стили для заголовков левой колонки */
.topic {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 7px; /* отступ снизу 7px */
}

/* Стили для текста левой колонки */
.text-one,
.text-two {
  font-size: 14px;
  color: #afafb6;
}

/* Заголовок правой колонки */
.topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
  margin-bottom: 10px;
}

/* Текст правой колонки */
.right-side p {
  margin-bottom: 20px;
}

/* Контейнер для input'ов формы */
.input-box {
  height: 50px; /* по сути задаем высоту input'а */
  width: 100%; /* ширина на всю ширину правой колонки (с учетом padding) */
  margin-bottom: 20px; /* отступаем снизу 20px */
}

/* Стили для input и textarea (поле сообщение) */
.input-box input,
.input-box textarea {
  height: 100%; /* растягиваем на всю высоту контейнера 50px */
  width: 100%; /* растягиваем на всю ширину */
  border: none; /* убираем внешние края */
  border-radius: 5px; /* скругляем края */
  background: #f0f1f8; /* задаем цвет фона */
  padding: 0 20px; /* отступ справа и слева 20px */
}

/* Отдельно стилизуем поле сообщение */
.input-box textarea {
  resize: none; /* чтобы нельзя было менять высоту */
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

/* Это контейнер для поля сообщение */
.message-box {
  min-height: 110px; /* минимальная высота 110px */
}

/* Стили для контейнера кнопки */
.button {
  display: inline-block; /* делаем блочно-строчный элемент */
}

/* Стили для самой кнопки */
.button input[type="button"] {
  color: #fff;
  font-size: 18px;
  background: #3e2093;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  transition: 0.2s; /* чтобы плавно менялся цвет при наведении (:hover) */
}

/* Меняем цвет фона при наведении на кнопку */
.button input[type="button"]:hover {
  background: rgb(0, 0, 207);
}