.formWrapper{
    display: flex;
    justify-content: center;

}

.formFieldWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px;
}
.formFieldWrapper>input{
    width: 100%;
    justify-content: center;
    display: flex;
}
.formSubmitWrapper{
    display: flex;
    margin: 4px;
}
.formSubmitWrapper>input{
    width: 100%;
}
.formSubmitWrapper>submit{
    display: flex;
}


.products-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 50vh;
    align-items: stretch;
    margin: 10px;
}
.product-name{
    display: flex;
    flex-direction: column;
}
.product-name > div{
    display: flex;
    justify-content: center;
    width: 100%;
    height:40px;
    background: #fff2ff;
    color: #651d75;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
    border-color:#FF99CC;
    border-style:solid;
    border-width:1px;
    cursor:pointer;

}
.product-photo{
    display: flex;
    justify-content: center;
}
.product-photo img{
    width: 95%;
    padding: 5%;
}

.product-wrapper:hover .product-photo img {
	transform: scale(1.05);
}

.product-description {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height:40px;
    background: white;
    color: #651d75;
    font-size: 14px;
    line-height: 15px;
}
.price {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #651d75;
    height: 30px;
    margin: 2px;
    border-color:#FF99CC;
    border-style:solid;
    border-width:1px;
    background:#cffaf8;
    flex-direction: column;
    align-items: center;
}

.button {
    height:40px;
    width: 100%;
    border-color:#FF99CC;
    border-style:solid;
    border-width:1px;
    background:white;
    cursor:pointer;
    margin: 0 auto;
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #fff2ff;
    color: #FF99CC;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
}
