{% extends 'base.html' %}
{% load static %}
{% block content %}

    <ul class="products clearfix">
        {% for item in items %}
            <li class="product-wrapper">
                <div class="product p">
<!--                    <div>описание</div>-->
                    <div class="product-photo">
                    <img src="{%static item%}">
                </div>
                    <div class="layout-buttons">
                        <span class="active icon icon-list"></span>
                        <span class="icon icon-table"></span>
                    </div>
                </div>

            </li>
        {% endfor %}
    </ul>

{% endblock %}

